menu "GFX"

	choice
		prompt "Driver"

	config GFX_BUILD_SUFFIX_GFXNONE
		bool "No GFX driver"

	config GFX_BUILD_SUFFIX_SSD1351
		bool "SSD1351 - e.g. 1.5in RGB OLED 128x128 16bpp"

	config GFX_BUILD_SUFFIX_SSD1680
		bool "SSD1680 - e.g. 2.13in epaper 250x122 1bpp"

	config GFX_BUILD_SUFFIX_SSD1681
		bool "SSD1681 - e.g. 1.54in epaper 200x200 1bpp"

	config GFX_BUILD_SUFFIX_EPD75
		bool "Waveshare 7.5in epaper 800x480 1bpp"

	config GFX_BUILD_SUFFIX_EPD154
		bool "Waveshare 1.54in epaper 200x200 1bpp"

	config GFX_BUILD_SUFFIX_EPD154R
		bool "Waveshare 1.54in epaper 200x200 1bpp+1bpp red"

	endchoice

	config GFX_WIDTH
	int "Width (pixels)"
	default 0
	help
		GFX display width (0 for default for driver)

	config GFX_HEIGHT
	int "Height (pixels)"
	default 0
	help
		GFX display height (0 for default for driver)

	config GFX_7SEG
	bool "Include 7 seg font"
	default y 
	help
		7 segment digit fonts (all sizes)

	config GFX_FONT0
	bool "Include 3x5 font"
	default y 
	help
		Tiny 3x5 font, limited characters

	config GFX_FONT1
	bool "Include 5x9 font"
	default y 
	help
		Small 5x9 font

	config GFX_FONT2
	bool "Include 10x18 font"
	default y 
	help
		Medium 10x18 font

	config GFX_FONT3
	bool "Include 15x27 font"
	default y 
	help
		Larger 15x27 font

	config GFX_FONT4
	bool "Include 20x36 font"
	default y 
	help
		Large 20x36 font

	config GFX_FONT5
	bool "Include 25x45 font"
	default y 
	help
		Extra large 25x45 font
	
	config GFX_FONT6
	bool "Include 30x54 font"
	default y 
	help
		Extra large 30x54 font
	
	config GFX_CS
	int "GPIO pin for CS"
	default 0
	help
		GPIO pin for CS (0 means not set)

	config GFX_DC
	int "GPIO pin for DC"
	default 0
	help
		GPIO pin for DC (0 means not set)

	config GFX_SCK
	int "GPIO pin for SCK"
	default 0
	help
		GPIO pin for SCK (0 means not set)

	config GFX_MISO
	int "GPIO pin for MISO"
	default 0
	help
		GPIO pin for MISO (0 means not set)

	config GFX_MOSI
	int "GPIO pin for MOSI"
	default 0
	help
		GPIO pin for MOSI (0 means not set)

	config GFX_RST
	int "GPIO pin for RST"
	default 0
	help
		GPIO pin for RST (0 means not set)

	config GFX_ENA
	int "GPIO pin for ENA"
	default 0
	help
		GPIO pin for EN (0 means not set)

	config GFX_BUSY
	int "GPIO pin for BUSY"
	default 0
	help
		GPIO pin for BUSY (0 means not set)

	config GFX_FLIP
	int "Default flip settings"
	default 0
	help
		Display flip logic

endmenu
