menu "GFX"

	choice
		prompt "Driver"

	config GFX_BUILD_SUFFIX_GFXNONE
		bool "No GFX driver"

	config GFX_BUILD_SUFFIX_SSD1351
		bool "SSD1351 - e.g. 1.5in RGB OLED 128x128 16bpp"

	config GFX_BUILD_SUFFIX_SSD1680
		bool "SSD1680 - e.g. 2.13in epaper 250x122 1bpp"

	config GFX_BUILD_SUFFIX_SSD1681
		bool "SSD1681 - e.g. 1.54in epaper 200x200 1bpp"

	config GFX_BUILD_SUFFIX_EPD75K
		bool "Waveshare 7.5in epaper 800x480 1bpp"

	config GFX_BUILD_SUFFIX_EPD75R
		bool "Waveshare 7.5in epaper 800x480 1bpp+1bpp red"

	config GFX_BUILD_SUFFIX_EPD154K
		bool "Waveshare 1.54in epaper 200x200 1bpp"

	config GFX_BUILD_SUFFIX_EPD154R
		bool "Waveshare 1.54in epaper 200x200 1bpp+1bpp red"

	config GFX_BUILD_SUFFIX_EPD29K
		bool "Waveshare 2.9in epaper 128x296  1bpp+1bpp"

	endchoice

	config GFX_WIDTH
	int "Width (pixels)"
	default 0
	help
		GFX display width (0 for default for driver)

	config GFX_HEIGHT
	int "Height (pixels)"
	default 0
	help
		GFX display height (0 for default for driver)

	config GFX_TUNING
	bool "Additional settings to fine tune GFX"
	default y 
	help
		Enable fine tuning settings (RevK library)

	config GFX_7SEG
	bool "Include 7 seg font"
	default y 
	help
		7 segment digit fonts (all sizes)

	config GFX_VECTOR
	bool "Include 5x9 vector font"
	default y 
	help
		Vector font (experimental)

	config GFX_UNICODE
	bool "Include additional unicode characters"
	depends on GFX_VECTOR
	default y 
	help
		Additional Unicode characters (experimental)

	config GFX_VECTOR_ONLY
	bool "Vector not pre-made fonts"
	depends on GFX_VECTOR
	default y 
	help
		Use vector fonts only

	config GFX_FONT0
	bool "Include 3x5 font"
	depends on !GFX_VECTOR_ONLY
	default y 
	help
		Tiny 3x5 font pre-rendered font, limited characters

	config GFX_FONT1
	bool "Include 5x9 font"
	depends on !GFX_VECTOR_ONLY
	default y 
	help
		Small 5x9 pre-rendered font

	config GFX_FONT2
	bool "Include 10x18 font"
	depends on !GFX_VECTOR_ONLY
	default y 
	help
		Medium 10x18 pre-rendered font

	config GFX_FONT3
	bool "Include 15x27 font"
	depends on !GFX_VECTOR_ONLY
	default y 
	help
		Larger 15x27 pre-rendered font

	config GFX_FONT4
	bool "Include 20x36 font"
	depends on !GFX_VECTOR_ONLY
	default y 
	help
		Large 20x36 pre-rendered font

	config GFX_FONT5
	bool "Include 25x45 font"
	depends on !GFX_VECTOR_ONLY
	default y 
	help
		Extra large 25x45 pre-rendered font
	
	config GFX_FONT6
	bool "Include 30x54 font"
	depends on !GFX_VECTOR_ONLY
	default y 
	help
		Extra large 30x54 pre-rendered font
	
	config GFX_FONT7
	bool "Include 35x63 font"
	depends on !GFX_VECTOR_ONLY
	default n
	help
		Extra large 35x63 pre-rendered font
	
	config GFX_FONT8
	depends on !GFX_VECTOR_ONLY
	bool "Include 40x72 font"
	default n
	help
		Extra large 40x72 pre-rendered font
	
	config GFX_FONT9
	bool "Include 45x81 font"
	depends on !GFX_VECTOR_ONLY
	default n
	help
		Extra large 45x81 pre-rendered font
	
	config GFX_BIGDIGIT
	bool "Include large 7 segment digits"
	default yn
	help
		Larger 7 segment digits
	
	config GFX_CS
	int "GPIO pin for CS"
	default 0
	help
		GPIO pin for CS (0 means not set)

	config GFX_DC
	int "GPIO pin for DC"
	default 0
	help
		GPIO pin for DC (0 means not set)

	config GFX_SCK
	int "GPIO pin for SCK"
	default 0
	help
		GPIO pin for SCK (0 means not set)

	config GFX_MISO
	int "GPIO pin for MISO"
	default 0
	help
		GPIO pin for MISO (0 means not set)

	config GFX_MOSI
	int "GPIO pin for MOSI"
	default 0
	help
		GPIO pin for MOSI (0 means not set)

	config GFX_RST
	int "GPIO pin for RST"
	default 0
	help
		GPIO pin for RST (0 means not set)

	config GFX_ENA
	int "GPIO pin for ENA"
	default 0
	help
		GPIO pin for EN (0 means not set)

	config GFX_BUSY
	int "GPIO pin for BUSY"
	default 0
	help
		GPIO pin for BUSY (0 means not set)

	config GFX_FLIP
	int "Default flip settings"
	default 0
	help
		Display flip logic

endmenu
